/* --------------------------- ++ BASE ++ --------------------------- */
@use "./config" as con;
/* import article scss files */
@use "./article";

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "New York Medium";
  src: url("../fonts/NewYorkMedium-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

li {
  list-style: none;
}

ul {
  list-style-type: none;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

a {
  text-decoration: none;
}

textarea,
select,
input,
button {
  outline: none;
}

h1 {
  line-height: 100%;
  font-size: 54px;
  font-family: "New York Extra Large";
  text-align: center;
}

h2 {
  font-family: "New York Extra Large";
  font-size: 44px;
  line-height: 53px;
  text-align: center;
}

/*  ============================= HOME PAGE ============================= */
/* --- Header --- */
.header-home {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
  max-width: con.$primary-max-width;
  margin: 0 auto;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52.54px 63.58px 40px;

    &__logo {
      position: relative;
      a {
        img {
          width: 395.83px;
          height: 37.53px;
        }
      }

      &:hover {
        &::after {
          content: "";
          width: 100%;
          height: 2px;
          position: absolute;
          left: 0;
          top: calc(100% + 10px);
          background-color: con.$primary-theme-color;
        }
      }
    }

    &__navbar {
      .navbar-burger-button {
        width: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 7px;
        padding-bottom: 6px;
        cursor: pointer;
        transition: all 250ms linear;
        display: none;

        li {
          width: 100%;
          height: 1px;
          background-color: con.$primary-dark-color;
        }
      }

      .navbar-burger-button-open {
        transform: rotate(90deg);
        transition: all 250ms linear;
      }

      .navbar-links {
        display: flex;
        gap: 32px;
        z-index: 1000;
        background-color: white;

        .link-container {
          position: relative;
          li {
            a {
              font-family: "New York Small";
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 170%;
              text-align: center;
              letter-spacing: 0.12em;
              text-transform: uppercase;
              padding: 6px 100% 6px 0;
            }
          }

          &::after {
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: -44px;
            background-color: con.$primary-dark-color;
            opacity: 0;
          }

          &:hover {
            &::after {
              opacity: 1;
              transition: all 350ms ease-out;
            }
          }
        }
      }
    }
  }
}

/* --- Hero Home--- */
.hero-home {
  max-width: con.$primary-max-width;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 4%;

  .hero-home-container {
    max-width: con.$secondary-max-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-bottom: 32px;
    position: relative;

    &__image {
      width: 100%;
    }

    &__title {
      // h1
      max-width: 780px;
      padding: 0 20px;
    }

    &__introduction {
      font-family: "SF Mono", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 170%;
      text-align: center;
      max-width: 592px;
      padding: 0 20px;
    }

    /* the black underline of the hero box */
    &::after {
      content: "";
      width: 75%;
      height: 2px;
      background-color: con.$primary-dark-color;
      margin: 0 auto;
      bottom: 0;
      position: absolute;
    }
  }
}

/* Articles - Home */
main {
  .articles-section {
    width: fit-content;
    margin: 64px auto;

    h2 {
      margin-bottom: 40px;
    }

    .articles-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 28px;
      padding: 0 20px;

      .article {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 28px;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;

          p {
            font-family: "SF Pro Display", sans-serif;
            font-weight: 500;
            font-size: 22px;
            line-height: 120%;
            text-align: center;
            max-width: 262px;
          }
        }
      }
    }
  }
}

/* Footer - Home */
.footer-home {
  background-color: con.$primary-dark-color;
  max-width: con.$primary-max-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 105.12px;
  padding: 18px 0 32px 0;
  overflow: hidden;

  &__abilities {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    /* width increased to 101% to create overflow hidden effect */
    width: 101%;

    li {
      flex-shrink: 0;
      font-family: "SF Pro Text";
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      /* can't find different weight of font SF Pro Text so I use text color with opacity 0.75 to do the highlighted trick*/
      color: rgba(255, 255, 255, 0.7);
      white-space: nowrap;

      &:nth-child(odd) {
        color: con.$primary-white-color;
      }
    }
  }

  &__contact {
    // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

    .footer-logo {
      margin-bottom: 25.58px;
    }

    .footer-intro {
      max-width: 488px;
      text-align: center;
      font-family: "New York Small";
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: con.$primary-white-color;
      margin-bottom: 32px;
    }

    .footer-social-network {
      display: flex;
      gap: 29px;
      margin-bottom: 64px;

      li {
        a {
          color: con.$primary-white-color;
          text-decoration: underline;
          font-family: "SF Pro Text";
          font-weight: 500;
          font-size: 16px;
          line-height: 170%;

          &:hover {
            background-color: con.$primary-theme-color;
            // color: con.$primary-theme-color;
            // text-decoration-color: con.$primary-theme-color;
          }
        }
      }
    }

    .footer-copyright {
      color: con.$primary-white-color;
      font-family: "SF Pro Text";
      font-weight: 500;
      font-size: 12px;
      line-height: 140%;
      text-align: center;
      max-width: 178px;
    }
  }
}

/* ------------------------- ++ RESPONSIVE ++ -------------------------- */
// @media (max-width: 1440px) {
//   .footer-home {
//     background-color: red;
//     // max-width: 100% !important;
//     &__abilities {
//       background-color: green;
//       display: grid;
//       grid-template-columns: repeat(6, 1fr);
//     }
//   }
// }

@media (max-width: 1024px) {
  /*  ======================= HOME PAGE MOBILE ======================== */
  /* --- Header-Home --- */
  .header-home {
    .header-container {
      position: relative; /* for .navbar-links positon */
      padding: 24px 20px 21px;

      &__logo {
        a {
          img {
            width: 217px;
            height: 20px;
          }
        }
      }

      &__navbar {
        .navbar-burger-button {
          display: flex;
        }

        .navbar-links {
          position: absolute;
          flex-direction: column;
          gap: 0;
          top: 100%;
          left: 0;
          z-index: 100;
          width: 100%;
          height: 0;
          overflow: hidden;

          .link-container {
            &:hover {
              a {
                color: con.$primary-theme-color;
              }
            }
            &::after {
              display: none;
            }
          }
        }

        .navbar-links-open {
          height: 100vh;
          padding: 10px 20px;
          box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
          transition: all 150ms cubic-bezier(0.25, 0.5, 0.75, 1);
        }
      }
    }
  }
}

@media (max-width: 682px) {
  /*  ======================= HOME PAGE MOBILE ======================== */
  /* Articles - Home */
  .articles-section {
    width: 100% !important;
    .articles-container {
      grid-template-columns: 1fr !important;

      .article:nth-child(n + 7) {
        /* show only the first 6 articles on mobile mode */
        display: none;
      }
    }
  }
}

@media (max-width: 375px) {
  /*  ======================= HOME PAGE MOBILE ======================== */
  /* --- Hero-Home --- */
  .hero-home {
    padding-top: 52px;

    .hero-home-container {
      padding-bottom: 52px;
      &__title {
        font-size: 36px;
        line-height: 43px;
      }

      &__introduction {
        font-size: 16px;
        line-height: 170%;
      }

      &::after {
        width: 100%;
      }
    }
  }

  /* --- Footer-Home --- */
  .footer-home {
    gap: 103.41px;

    &__contact {
      .footer-logo {
        img {
          max-width: 236.27px;
        }
      }
      .footer-intro {
        max-width: 248px;
        font-size: 13px;
      }

      .footer-social-network {
        li {
          a {
            font-size: 13px;
          }
        }
      }
    }
  }
}
